@model Covoiturage.Models.Depense

@{
    ViewData["Title"] = "Détails";
    Layout = "_LayoutAdmin";
}

<h1>Détails</h1>

<div>
    <h4>Dépense</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Intitule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Intitule)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Montant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Montant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>