@model Covoiturage.Models.Trajet

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdmin";
}

<h1>Details</h1>

<div>
    <h4>Trajet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arrivee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arrivee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDepart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDepart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixUniquePlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixUniquePlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicule.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
