@model IEnumerable<Covoiturage.Models.Commission>

@{
    ViewData["Title"] = "Liste des commissions";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Liste des commissions</h1>

<p>
    <a asp-action="Create">Créer une nouvelle commission</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pourcentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDecision)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pourcentage) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDecision)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
    }
    </tbody>
</table>